.headerContainer {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding-bottom: 20px;
  .header {
    display: grid;
    grid-template-columns: var(--size-input) 1fr min-content min-content;
    padding: var(--size-gap) var(--size-gutter);
    width: 100%;

    .navIcon {
      display: flex;
      align-items: center;
      padding: 15px;
    }
    .logo {
      grid-area: logo;
    }
    .searchButton {
      color: var(--text-color-secondary);
      display: grid;
      grid-area: searchButton;
      height: var(--size-input);
      place-items: center;
      width: var(--size-input);
    }
    .cartButton {
      align-items: center;
      align-self: center;
      color: var(--text-color-secondary);
      display: flex;
      grid-area: cartButton;
      height: var(--size-input);
      justify-content: center;
      position: relative;
      width: var(--size-input);
    }
  }
}

@media (min-width: 640px) {
  .header {
    grid-template-areas: 'logo navHeader searchButton cartButton';
  }
}
@media only screen and (max-width: 640px) {
  .header {
    grid-template-areas:
      'logo . searchButton cartButton'
      'navHeader navHeader navHeader navHeader';
  }

  .navHeader {
    margin: 5px;
  }
}
