.headerContainer {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  padding-bottom: 20px;
  .header {
    display: grid;
    grid-template-columns: 5% 1fr min-content min-content;
    .logo {
      grid-area: logo;
    }
    .navIcon {
      display: flex;
      align-items: center;
      padding: 15px;
    }
    .searchButton {
      grid-area: searchButton;
    }
    .cartButton {
      grid-area: cartButton;
    }
  }
}

@media (min-width: 640px) {
  .header {
    grid-template-areas: 'logo navHeader searchButton cartButton';
  }
}
@media only screen and (max-width: 640px) {
  .header {
    grid-template-areas:
      'logo . searchButton cartButton'
      'navHeader navHeader navHeader navHeader';
  }

  .navHeader {
    margin: 5px;
  }
}
