@media (min-width: 640px) {
  .header {
    display: grid;
    grid-template-areas: 'logo navHeader searchButton cartButton';
    grid-template-columns: 5% 1fr min-content min-content;

    .navHeader {
      align-items: center;
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      white-space: nowrap;

      .navLink {
        align-items: center;
        cursor: pointer;
        display: flex;
        height: var(--size-input);
        padding-left: 14px;
        padding-right: 15px;
        text-decoration: none;
      }
    }
    .navIcon {
      display: flex;
      align-items: center;
      padding: 15px;
    }
  }
}

// @media only screen and (min-width: 600px) {
//   .header {
//     display: grid;
//     grid-template-areas:
//       'logo nada searchButton cartButton'
//       'navHeader navHeader navHeader navHeader';
//     grid-template-columns: 5% 1fr min-content min-content;
//   }
// }
