.header {
  display: grid;
  grid-template-columns: 5% 1fr min-content min-content;
  .logo {
    grid-area: logo;
  }
  .navHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    grid-area: navHeader;

    .navLink {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: var(--size-input);
      padding-left: 14px;
      padding-right: 15px;
      text-decoration: none;
      grid-area: navLink;
    }
  }
  .navIcon {
    display: flex;
    align-items: center;
    padding: 15px;
  }
  .searchButton {
    grid-area: searchButton;
  }
  .cartButton {
    grid-area: cartButton;
  }
}

@media (min-width: 640px) {
  .header {
    grid-template-areas: 'logo navHeader searchButton cartButton';
  }
}
@media only screen and (max-width: 640px) {
  .header {
    grid-template-areas:
      'logo . searchButton cartButton'
      'navHeader navHeader navHeader navHeader';
  }

  .navHeader {
    margin: 5px;
  }
}
